<mat-toolbar class="d-flex  justify-content-between w-100 pt-3 pb-3 " style="height: 100px; background-color: white;">
  
    <img src="assets/images/drawKit.svg" alt="draw kit logo" style="height: 25px;  margin-left: 20px;" />
    <div class="d-flex  justify-content-between ">
        <p style="font-size: 16px; margin-left: 60px;font-weight: 300;">
            Illustrations<mat-icon>arrow_drop_down</mat-icon></p>
        <p style="font-size: 16px; margin-left: 10px;font-weight: 300;">Plug-Ins<mat-icon>arrow_drop_down</mat-icon></p>
        <p style="font-size: 16px; margin-left: 10px;font-weight: 300;">Plans</p>
    </div>
    <form class="d-flex mx-3 justify-content-center" style="height: 70px;">
        <button class="rounded-pill d-flex  align-items-center" style="width: 250px; margin-left: 60px;">
            <img src="assets/images/search.svg" alt="hero" style="height: 30px; width: 30px;">
            <input matInput type="search" placeholder="Categories, types, topics, etc" class="form-control border-0"
                style="font-size: 14px; color: #ccc;">
            <button mat-button type="submit" class=" rounded-pill"
                style="background-color: black; color: white;">Search</button>
        </button>
    </form>
    <div class="mx-3">
        <p style="font-size: 16px;">Sign in</p>
    </div>
    <form class="mx-3">
        <button class="rounded-pill "
            style="height: 60px; width: 200px; background-color: rgb(240, 117, 198); color: white; font-weight: 500;">
            Upgrade to pro
        </button>
    </form>
</mat-toolbar>
<mat-divider></mat-divider>

