<div class="container my-4">
    <div class="d-grid">
        <img src="assets/images/drawKit.svg" alt="draw kit logo" style="height: 25px; margin-left: 20px; margin-bottom: 20px;" />
        <p class="mt-4 ml-4 mb-4 text-secondary " style="font-size: 18px;">New collection updates to your inbox!</p>
        <div class="d-flex mt-4 mb-4">
            <button class="  rounded-pill d-flex align-items-center gap-2 "
                style="width: 350px;  height: 60px;">
                <i class="fas fa-user mr-2" style="margin-left: 20px;"></i>Your Full Name</button>
            <button class="  rounded-pill d-flex align-items-center gap-2"
                style="width: 350px; margin-left: 60px; height: 60px;"><i class="fas fa-envelope mr-2 "style="margin-left: 20px;">
                    
                </i>Email</button>
            <form class="mx-3">
                <button class="btn rounded-pill"
                    style="height: 60px; width: 100px; background-color: rgb(240, 117, 198); color: white; font-weight: 500;">
                    Sign Up
                </button>
            </form>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                <h4 class="font-weight-bold text-black">Company</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">About us &
                            FAQ</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Contact Us</a>
                    </li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Blog</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Jobs</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">License</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Privacy
                            Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="font-weight-bold text-black">Products</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Pro
                            Illustrations</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Free
                            Illustrations</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Figma Plugin</a>
                    </li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">designstripe</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="font-weight-bold text-black">Categories</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Environment</a>
                    </li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Startups</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Digital
                            Marketing</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Working</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Education</a>
                    </li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Health</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="font-weight-bold text-black">Illustration Types</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">2D</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">3D</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Icons</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Animations</a>
                    </li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Mockups</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                <h4 class="font-weight-bold text-black">Pricing</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Pricing &
                            Plans</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="font-weight-bold text-black">Plug-ins</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">3D Builder
                            Figma</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Avatar
                            Creator</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="font-weight-bold text-black">designstripe</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">designstripe</a>
                    </li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Premium Fonts</a>
                    </li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">CSS gradient</a>
                    </li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">Cool
                            Backgrounds</a></li>
                    <li class="mb-2"><a href="#" class="text-secondary" style="text-decoration: none;">designtripe
                            Blog</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="font-weight-bold text-black">Social Media</h4>
                <div class="d-flex">
                    <button class="btn rounded-pill" style="height: 40px; width: 40px;"><i
                            class="fab fa-facebook"></i></button>
                    <button class="btn rounded-pill ml-2" style="height: 40px; width: 40px;"><i
                            class="fab fa-twitter"></i></button>
                    <button class="btn rounded-pill ml-2" style="height: 40px; width: 40px;"><i
                            class="fab fa-instagram"></i></button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between mt-3">
        <p>drawKit is a designstripe project.</p>
        <p>2023 DrawKit © All Right Reserved</p>
    </div>
</div>