<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <p class="align-items-center" style="font-size: 30px; font-weight: 500;">Make your webpages and apps more
                engaging</p>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col text-center">
            <p class="align-items-center" style="font-size: 16px; color: #747474;">
                Fully customize each creative illustration to match your brand and bring your designs to life with high
                quality creative assets
            </p>
        </div>
    </div>
    <div class="col justify-content-center  " style="margin-left: 40px;" >
        <div class="col-1 col-md-1 d-flex align-items-center mb-3" >
            <mat-card style="background-color: #88cfe8;">
                <img src="assets/images/a.png" class="img-fluid" alt="Image A" style="max-width: 500px; height: auto;">
            </mat-card>
        </div>
        <div class="col-1 col-md-1 d-flex align-items-center mb-3">
            <mat-card style="background-color: #7fb281;">
                <img src="assets/images/b.png" class="img-fluid" alt="Image B" style="max-width: 500px; height: auto;">
            </mat-card>
        </div>
        <div class="col-1 col-md-1 d-flex align-items-center mb-3">
            <mat-card style="background-color: #3c8593;" >
                <img src="assets/images/c.png" class="img-fluid" alt="Image C" style="max-width: 800px; height: auto;">
            </mat-card>
        </div>
        <div class="col-1 col-md-1 d-flex align-items-center mb-3">
            <mat-card style="background-color: #88cfe8;">
                <img src="assets/images/d.png" class="img-fluid" alt="Image D" style="max-width: 500px; height: auto;">
            </mat-card>
        </div>
        <div class="col-1 col-md-1 d-flex align-items-center mb-3">
            <mat-card style="background-color: #6ca698;">
                <img src="assets/images/e.png" class="img-fluid" alt="Image E" style="max-width: 500px; height: auto;">
            </mat-card>
        </div>
        <div class="col-1 col-md-1 d-flex align-items-center mb-3">
            <mat-card style="background-color: #3c8593;">
                <img src="assets/images/f.png" class="img-fluid" alt="Image F" style="max-width: 800px; height: auto;">
            </mat-card>
        </div>
    </div>
</div>

<div class="d-grid" style="margin-top: 7rem;">
    <div class="d-grid justify-content-center align-items-center" style="margin-top: 7rem;">
        <p class=" display-6" style="font-weight: 500;">Trending Illustration Categories</p>
    </div>
    <div class="justify-content-between g-5" style="margin-left: 5rem; margin-right: 3rem; margin-bottom: 4rem; margin-top: 5rem;">
        <button class="rounded-pill me-5" style="height: 60px; width: 120px; background-color: white;">Environment</button>
        <button class="rounded-pill me-5" style="height: 60px; width: 120px; background-color: white;">Startups</button>
        <button class="rounded-pill me-5" style="height: 60px; width: 220px; background-color: white;">Digital Marketing</button>
        <button class="rounded-pill me-5" style="height: 60px; width: 120px; background-color: white;">Working</button>
        <button class="rounded-pill me-5" style="height: 60px; width: 120px; background-color: white;">Education</button>
        <button class="rounded-pill me-5" style="height: 60px; width: 120px; background-color: white;">Health</button>
    </div>
    <mat-divider></mat-divider>
</div>
