<div class="d-grid justify-content-center align-items-center" style="margin-top: 7rem;">
    <p class=" display-6" style="font-weight: 500;">Browse illustrations</p>
</div>
<div class=" d-grid justify-content-center " style="margin-top: 1rem;">
    <p class="align-items-center" style="font-size: 20px;font-weight: 100; color: #747474;">Explore our hand-drawn and
        curated illustration packs</p>

</div>
<div class="d-grid" style="margin-left: 100px;margin-right: 100px; margin-top: 4rem; margin-bottom: 4rem;">
    <div class="d-flex justify-content-between">
        <mat-card class="example-card" style="background-color: #e3efed; margin-bottom: 4rem; width: 350px;">
            <mat-card-header>
                <button class="rounded-pill" style="background-color: black; color: white;">
                    <img src="assets/images/star.png" style="height: 10px; width: auto;">
                    pro
                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/1.png" alt="1" style="height: 300px; width: 200px;">
            </div>

            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    Laboratorium Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    27 grainy illustrations with a scientific, tech twist.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
        <mat-card class="example-card"
            style="background-color: #e3efed; margin-bottom: 4rem;width: 350px;margin-left: 1rem;">
            <mat-card-header>
                <button class="rounded-pill" style="background-color: black; color: white;">
                    <img src="assets/images/star.png" style="height: 10px; width: auto;">
                    pro
                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/2.png" alt="1" style="height: 300px; width: 200px;">
            </div>
            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    Jane Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    18 fun vector illustrations proving jane can do anything she wants
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
        <mat-card class="example-card"
            style="background-color: #e3efed; margin-bottom: 4rem;width: 350px; margin-left: 1rem;">
            <mat-card-header>
                <button class="rounded-pill" style="background-color: black; color: white;">
                    <img src="assets/images/star.png" style="height: 10px; width: auto;">
                    pro
                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/3.png" alt="1" style="height: 300px; width: 200px;">
            </div>
            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    Isotopia Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    200 vector illustrations and assets with 15 premade scenes, and infinite editing...
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
    </div>


    <div class="d-flex justify-content-between">
        <mat-card class="example-card" style="background-color: #e3efed; margin-bottom: 4rem; width: 350px;">
            <mat-card-header>
                <button class="rounded-pill">

                    free
                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/4.png" alt="1" style="height: 300px; width: 200px;">
            </div>

            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    Economy & Finance Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    10 Free vector illustrations of the economy, money, finance, banks, and more.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
        <mat-card class="example-card"
            style="background-color: #e3efed; margin-bottom: 4rem;width: 350px;margin-left: 1rem;">
            <mat-card-header>
                <button class="rounded-pill">

                    Free
                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/5.png" alt="1" style="height: 300px; width: 200px;">
            </div>
            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    LandScape & Scenery Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    15 vector illustrations of LandScapes, cities, mountains, forests, deserts, beach and more
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
        <mat-card class="example-card"
            style="background-color: #e3efed; margin-bottom: 4rem;width: 350px; margin-left: 1rem;">
            <mat-card-header>
                <button class="rounded-pill">

                    Free
                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/6.png" alt="1" style="height: 300px; width: 200px;">
            </div>
            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    Influencers & Content Creator Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    10 vector illustrations of content creators, recording, editing, set up, photoshoot,....
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
    </div>


    <div class="d-flex justify-content-between">
        <mat-card class="example-card" style="background-color: #e3efed; margin-bottom: 4rem; width: 350px;">
            <mat-card-header>
                <button class="rounded-pill">

                    Free
                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/7.png" alt="1" style="height: 300px; width: 200px;">
            </div>

            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    Online Shopping Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    17 vector illustrations of online shopping, transactions, e-commerce, stores, gifts a....
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
        <mat-card class="example-card"
            style="background-color: #e3efed; margin-bottom: 4rem;width: 350px;margin-left: 1rem;">
            <mat-card-header>
                <button class="rounded-pill" style="background-color: black; color: white;">
                    <img src="assets/images/star.png" style="height: 10px; width: auto;">

                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/8.png" alt="1" style="height: 300px; width: 200px;">
            </div>
            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    Education Stickers Illustrations & Animations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    20 vector illustrations & 5 Lottie animations of education, stickers, teaching,...
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;margin-right: 1rem;">
                <img src="assets/images/lottie.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
        <mat-card class="example-card"
            style="background-color: #e3efed; margin-bottom: 4rem;width: 350px; margin-left: 1rem;">
            <mat-card-header>
                <button class="rounded-pill" style="background-color: black; color: white;">
                    <img src="assets/images/star.png" style="height: 10px; width: auto;">

                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/9.png" alt="1" style="height: 300px; width: 200px;">
            </div>
            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    AI & Futurism Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    25 vector illustrations of people using AI, machines, technology, electric cars...
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/figma.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">

            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
    </div>

    <div class="d-flex justify-content-between">
        <mat-card class="example-card" style="background-color: #e3efed; margin-bottom: 4rem; width: 350px;">
            <mat-card-header>
                <button class="rounded-pill">

                    Free
                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/10.png" alt="1" style="height: 300px; width: 200px;">
            </div>

            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    Real Estate & Homeowner Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    20 free vector illustrations of real estates, homeowner, agents, property, renovation...
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
        <mat-card class="example-card"
            style="background-color: #e3efed; margin-bottom: 4rem;width: 350px;margin-left: 1rem;">
            <mat-card-header>
                <button class="rounded-pill" style="background-color: black; color: white;">
                    <img src="assets/images/star.png" style="height: 10px; width: auto;">

                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/11.png" alt="1" style="height: 300px; width: 200px;">
            </div>
            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    Company Teamwork Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    25 vector illustrations of team building, building trust, collaborations, brainstormin...
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/figma.svg" style="height: 30px; width: auto;margin-right: 1rem;">
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
        <mat-card class="example-card"
            style="background-color: #e3efed; margin-bottom: 4rem;width: 350px; margin-left: 1rem;">
            <mat-card-header>
                <button class="rounded-pill">

                    Free
                </button>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image src="assets/images/12.png" alt="1" style="height: 300px; width: 200px;">
            </div>
            <mat-card-content>
                <p class="fw-bold" style="font-size: 24px;">
                    Transport & Travel Illustrations
                </p>
                <p style="font-size: 18px; font-weight: 100; ">
                    12 free vecor illustrations of transportations, cars, boats, tricks, travel,...
                </p>
            </mat-card-content>
            <mat-card-actions>
                <img src="assets/images/svg.svg" style="height: 30px; width: auto; margin-right: 1rem;">
                <img src="assets/images/png.svg" style="height: 30px; width: auto;">
            </mat-card-actions>
            <div style="display: flex; justify-content: center;">
                <button class="rounded-pill align-items-center"
                    style="height: 60px; width: 300px; background-color: black; color: white; font-weight: 500; margin-top: 1rem; margin-bottom: 1rem;">
                    View Collection
                    <img src="assets/images/arrow.png" alt="arrow"
                        style="height: 30px; width: 30px; margin-left: 1rem;">
                </button>
            </div>
        </mat-card>
    </div>

</div>
